* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

canvas {
  display: block;
}

.scream {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
}

.lol {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
